h1 {
    border-bottom-style: dotted;
    border-top-style: solid
}

p {
    padding: 2em;
    border-style: solid;
    border-style: dashed;
    border-width: 1.01em;
    border-color: green;
    border-radius: 5em;
}